<div class="container">

    <div class="titleImg"> 
     <h2 mat-dialog-title>Excluir Produto</h2>
     </div>
 
 <img src="/assets/img/deleteUsuario.svg" alt="">
 
 <mat-dialog-content>
   <em><b>Tem certeza que deseja excluir este produto?</b></em> 
 </mat-dialog-content>

 <mat-dialog-actions>
 
 <button  id="deleteProduto" (click)="deletarProduto()" mat-flat-button color="warn">Excluir Produto</button>
   <button id="cancel" mat-stroked-button mat-dialog-close>
     <mat-icon>close</mat-icon>
     Cancelar
   </button>
   
 </mat-dialog-actions>
 </div>
