<header class="main-header mat-elevation-z3">
    <div class="header-left">
        <button id="menu-toggle" (click)="onToggleSidenav()" mat-icon-button class="menu-btn">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="app-logo">Tecno Desk</span>
    </div>

    <div class="header-right">
        <div class="user-profile">
            <mat-icon class="user-icon">account_circle</mat-icon>
            <span class="user-name">{{nomeUsuario}}</span>
        </div>

        <div class="header-divider"></div>

        <button (click)="logout()" mat-icon-button color="warn" matTooltip="Sair do sistema" class="logout-btn">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
</header>