.containerHeader{
    background-color:#1F66FE;
    height: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    color:aliceblue;
   
}

.menu{
    height: 100%;
}

.wellcome{

    justify-content: end;
    display: flex;
    color: #ececee;
    
}

.wellcome i{
    margin-right:5px;
    margin-top: 3.4px;
    color: #EBEFF2;
    
}

