<div class="container">

  <div class="titPage" style="padding:5px;margin-bottom: 10px;">
    <h1 id="osH1">Ordem de serviço</h1>       
</div>
  
    <mat-form-field appearance="standard" style="width: 100%;">
      <mat-label>Filtrar</mat-label>
      <input 
        matInput
        style="border: none;width: 100%;"
        type="text" 
        placeholder="Buscar por: Número OS, Cliente, Responsável, Situação ou Prioridade" 
        [(ngModel)]="searchTerm" 
        (input)="applyFilter()" />
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>       
    
    <div class="mat-elevation-z8">
      
      <table mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="numOs">
          <th mat-header-cell *matHeaderCellDef> Número OS </th>
          <td mat-cell *matCellDef="let element"> {{element.numOs}} </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let element"> {{element.cliente.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="colaborador">
            <th mat-header-cell *matHeaderCellDef> Responsável </th>
            <td mat-cell *matCellDef="let element"> {{element.colaborador.nome}} </td>
        </ng-container>
          
        <ng-container matColumnDef="statusOS">
            <th mat-header-cell *matHeaderCellDef> Situação </th>
            <td mat-cell *matCellDef="let element"> {{element.statusOS}} </td>
        </ng-container>

        <ng-container matColumnDef="prioridadeOS">
            <th mat-header-cell *matHeaderCellDef> Prioriade </th>
            <td mat-cell *matCellDef="let element"> {{element.prioridadeOS}} </td>
        </ng-container>

        <ng-container matColumnDef="acoesOs">
          <th mat-header-cell *matHeaderCellDef></th> 
         <td class="actionsButtons" mat-cell *matCellDef="let element"> 
         
          <!-- 
          
          <a [routerLink]="element.id" (click)="$event.preventDefault()">
              <mat-icon style="color:#5E5E5E;margin-right: 10px;margin-left: 6px;" (click)="openDialog($event, element.id)" id="editar">open_in_new</mat-icon>
            </a>
          
          
          --- -->


          <a [routerLink]="['/manager',element.numOs]">
            <mat-icon style="color:#5E5E5E;margin-right: 8px;" >assignment</mat-icon>
          </a>
          
          <mat-icon (click)="imprimirOs(element.numOs)" style="color:#5E5E5E;margin-right: 8px;" >print</mat-icon>
          <mat-icon style="color:#5E5E5E;margin-right: 8px;" >cancel_presentation</mat-icon>
 
          
       </td>
         
         
       </ng-container>

        
          
  
       
          
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      </table>
    
      <mat-paginator id="rows" paginator="paginator"[pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  
  </div>