<div class="container">

    <div class="titPage" style=" padding:5px;">
        <h1 id="osH1">Ordem de serviço</h1>       
    </div>
    
    <!-- <button routerLink="create" class="mat-elevation-z8" mat-stroked-button color="primary">Novo cliente</button> -->
  
    <mat-form-field appearance="standard">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Exp:nome cliente, num os, atendente" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      
      <table mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="numOs">
          <th mat-header-cell *matHeaderCellDef> Número OS </th>
          <td mat-cell *matCellDef="let element"> {{element.numOs}} </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let element"> {{element.cliente.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="colaborador">
            <th mat-header-cell *matHeaderCellDef> Responsável </th>
            <td mat-cell *matCellDef="let element"> {{element.colaborador.nome}} </td>
        </ng-container>
          
        <ng-container matColumnDef="statusOS">
            <th mat-header-cell *matHeaderCellDef> Situação </th>
            <td mat-cell *matCellDef="let element"> {{element.statusOS}} </td>
        </ng-container>

        <ng-container matColumnDef="prioridadeOS">
            <th mat-header-cell *matHeaderCellDef> Prioriade </th>
            <td mat-cell *matCellDef="let element"> {{element.prioridadeOS}} </td>
        </ng-container>

        
        
        <ng-container matColumnDef="acoes">
           <th mat-header-cell *matHeaderCellDef>Editar | Excluir</th> 
          <td mat-cell *matCellDef="let element"> 
          
            <!-- <a [routerLink]="element.id" (click)="$event.preventDefault()">
              <mat-icon style="color:#5E5E5E;margin-right: 10px;margin-left: 6px;" (click)="openDialog($event, element.id)" id="editar">open_in_new</mat-icon>
            </a> -->
  
              <!-- <mat-icon
              (click)="openDelDialog($event, element.id)"
              style="color:#5E5E5E;margin-right: 4px;"
              id="delete"
              >delete
              </mat-icon> -->
        </td>
          
          
        </ng-container>
  
       
          
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
      </table>
    
      <mat-paginator id="rows" paginator="paginator"[pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  
  </div>