<div class="container">

   <div class="titleImg"> 
    <h2 mat-dialog-title>Excluir colaborador</h2>
    </div>

<img src="/assets/img/deleteUsuario.svg" alt="">

<mat-dialog-content>
  <em><b>Tem certeza que deseja excluir o colaborador ?</b></em> 
</mat-dialog-content>

<mat-dialog-actions>

<button  (click)="deletarColaborador()" id="deleteColaborador" mat-flat-button color="warn">Prosseguir com exclusão </button>
  <button style="margin-right: 15px;" id="cancel" mat-button mat-dialog-close >Cancelar</button>
  
</mat-dialog-actions>
</div>