<body style="margin: 0; height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div class="container">

      <div class="titPage" style="padding:5px;margin-bottom: 10px;">
        <h1 id="osH1">Primeiros passos !</h1>       
      </div>

    <mat-stepper #stepper class="mat-elevation-z4">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Cadastrar assistência</ng-template>

          <div style="margin-top: 1rem;margin-bottom: .2rem;">
            <section class="example-section">
              <mat-checkbox (click)="checkedCpf()" [(ngModel)]="isCpf" [ngModelOptions]="{standalone: true}" class="example-margin">Utilizar CPF</mat-checkbox>
              <mat-checkbox (click)="checkedCnpj()" [(ngModel)]="isCnpj" [ngModelOptions]="{standalone: true}" class="example-margin">CNPJ</mat-checkbox>
            </section>
          </div>

          <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Documento empresa</mat-label>
            <input
            *ngIf="isCpf"
             (blur)="validarEmpresaExistenteDoc()"
            formControlName="docEmpresa"
            required 
            mask="000.000.000-00"
            matInput placeholder="Insira o CPF">

            <input
            (blur)="validarEmpresaExistenteDoc()"
            *ngIf="isCnpj"
            required 
            mask="00.000.000/0000-00"
            formControlName="docEmpresa"
            matInput placeholder="CNPJ da empresa">
            <mat-icon matSuffix>badge</mat-icon>
            <mat-error>
                       <b>Por favor, informar o CNPJ da empresa</b>
                  </mat-error>
          </mat-form-field>
          
          <mat-form-field class="fullWidth" *ngIf="isCnpj" appearance="fill">
            <mat-label>Razão social</mat-label>
            <input
            formControlName="razaoSocial"
            required 
            matInput placeholder="Razão social da empresa">
            <mat-icon matSuffix>person</mat-icon>
                  <mat-error>
                       <b>É necessário informar a razão social</b>
                  </mat-error>
          </mat-form-field>

          <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Nome fantasia</mat-label>
            <input
            formControlName="nomEmpresa"
            required 
            matInput placeholder="Insira o nome da sua assistência">
            <mat-icon matSuffix>person</mat-icon>
                  <mat-error>
                       <b>Por favor, informar o nome fantasia</b>
                  </mat-error>
          </mat-form-field>
          
          <mat-form-field class="halfWidth" appearance="fill" style="margin-right: 1rem;">
            <mat-label>Email</mat-label>
            <input matInput formControlName="mail"
                  required>
                  <mat-icon matSuffix>mail</mat-icon>
                   <mat-error>
                       <b>É necessário informar o email</b>
                  </mat-error>
          </mat-form-field>

          <mat-form-field class="halfWidth" appearance="fill">
            <mat-label>Confirmar Email</mat-label>
            <input matInput formControlName="confirmEmail"
                  required>
                  <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-error *ngIf="firstFormGroup.get('confirmEmail').hasError('matching') && firstFormGroup.get('confirmEmail').touched">
                       <b>Email não coincide</b>
                  </mat-error>
          </mat-form-field>
          
          <mat-form-field  class="halfWidth" appearance="fill" style="margin-right: 1rem;">
            <mat-label>Contato principal (Celular)</mat-label>
            <input  mask="(00) 00000-0000" matInput 
            formControlName="cel" placeholder="(00) 00000-0000"
                  required>
                  <mat-icon matSuffix>call</mat-icon>
                   <mat-error>
                       <b>É necessário informar um número para o contato</b>
                  </mat-error>
          </mat-form-field>

          <mat-form-field class="halfWidth" appearance="fill">
            <mat-label>Contato secundario (Telefone)</mat-label>
            <input mask="(00) 0000-0000" matInput 
            formControlName="tel" placeholder="Se houver, informe o contato secundário"
                  >
                  <mat-icon matSuffix>call</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Site</mat-label>
            <input matInput formControlName="site" placeholder="www.seusite.com.br">
                  <mat-icon matSuffix>public</mat-icon>
          </mat-form-field>

          <div>
            <button routerLink="/login" mat-button style="background-color: #707070; color: #ffffff; margin-right: 0.5rem;float:  right;">Voltar para o login</button>
            <button [disabled]="!validarPrimeiroPasso()" mat-flat-button color="primary" matStepperNext >Próximo</button>
            
          </div>
        </form>
        </mat-step>
      
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Endereço empresa</ng-template>
          
          <div style="color:#707070">
              <p><b>Primeiro, insira o Cep</b></p>
          </div>
            
          <mat-form-field  class="tinyWidth" appearance="fill">
          <mat-label>Cep</mat-label>
          <input
          (blur)="autoCep(secondFormGroup.get('cep').value)"          
          formControlName="cep"
          matInput placeholder="00.000-000" mask="00.000-000" name="cep">
        </mat-form-field>
        <br>
        <mat-form-field class="tinyWidth" appearance="fill" style="margin-right: .3rem;">
          <mat-label>Estado</mat-label>
          <input
          formControlName="uf"
          matInput placeholder="">
        </mat-form-field>
        
        <mat-form-field class="tinyWidth" appearance="fill">
          <mat-label>Cidade</mat-label>
          <input
          formControlName="municipio"
          matInput placeholder="">
        </mat-form-field>
        <br>
         <mat-form-field class="halfWidth" appearance="fill" style="margin-right: .3rem;">
          <mat-label>logradouro</mat-label>
          <input
          formControlName="logra"
          matInput placeholder="">
        </mat-form-field>
        

        <mat-form-field class="tinyWidth" appearance="fill" style="margin-right: .3rem;">
          <mat-label>numero</mat-label>
          <input
          type="nu"
          formControlName="num"
          matInput placeholder="">
        </mat-form-field>

        <mat-form-field class="tinyWidth" appearance="fill">
          <mat-label>Bairro:</mat-label>
          <input
          formControlName="bairro"
          matInput placeholder="">
        </mat-form-field>

        <mat-form-field class="halfWidth" appearance="fill">
          <mat-label>OBS:</mat-label>
          <input 
          fornControlName="comp"
          matInput placeholder="">
        </mat-form-field>

       
          
        <div>
            <!-- <button routerLink="/login" class="mat-elevation-z4"  mat-button style="background-color: #707070; color: #ffffff;float: right;">Ir para o login</button> -->
            <button [disabled]="!validarSegundoPasso()" class="mat-elevation-z4" mat-flat-button color="primary" matStepperNext style="margin-right: 0.5rem;">Próximo</button>
            <button mat-button matStepperPrevious style="background-color: #707070; color: #ffffff; ">Voltar</button>
          </div>
        
        </form>
        </mat-step>
      
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Informações pessoais</ng-template>
          <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Nome completo</mat-label>
            <input
            formControlName="nomeCompleto"
            required 
            matInput placeholder="Exp: João">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field class="halfWidth" appearance="fill" style="margin-right: 1rem;">
            <mat-label>Email</mat-label>
            <input 
            formControlName="mail"
            required
            matInput placeholder="joao@exemplo.com">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>

          <mat-form-field class="halfWidth" appearance="fill">
            <mat-label>Confirmar Email</mat-label>
            <input matInput formControlName="confirmEmail" required>
                  <mat-icon matSuffix>alternate_email</mat-icon>
                    <mat-error *ngIf="thirdFormGroup.get('confirmEmail').hasError('matching') && thirdFormGroup.get('confirmEmail').touched">
                       <b>Email não coincide</b>
                    </mat-error>
          </mat-form-field>

          <mat-form-field  class="fullWidth" id="senha" name="senha" appearance="fill">
        <mat-label>Senha</mat-label>
        <input 
        formControlName="pass"
        required
        type="password"
        matInput placeholder="Insira sua senha"  >
        <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>
      
      <mat-form-field  id="confirmasenha" name="confirmaSenha"class="fullWidth"  appearance="fill">
        <mat-label>Confirme sua senha</mat-label>
         <input
          fornControlName="passConfirm"
          required
          matInput
          type="password"
          placeholder="Insira a senha novamente">
         <mat-icon matSuffix>password</mat-icon>
         <mat-error >
          Confirmação de senha é obrigatória e deve coincidir com a senha.
        </mat-error>
      </mat-form-field>
      <!-- *ngIf="colaboradorCreateForm.get('confirmaSenha').invalid && colaboradorCreateForm.get('confirmaSenha').touched" -->

          <div>
            <button routerLink="/login" class="mat-elevation-z4"  mat-button style="background-color: #707070; color: #ffffff;float: right;">Voltar para o login</button>
            <button  class="mat-elevation-z4" mat-button matStepperNext style="background-color: #1F66FE; color: #ffffff;">Próximo</button>
            
          </div>
        </form>
        </mat-step>
      
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
        </mat-step>
    </mat-stepper>

  </div>
</body>
