<div class="container">

    <div class="titleImg"> 
     <h2 mat-dialog-title>Excluir Cliente</h2>
     </div>
 
 <img src="/assets/img/deleteUsuario.svg" alt="">
 
 <mat-dialog-content>
   <em><b>Tem certeza que deseja excluir o cliente ?</b></em> 
 </mat-dialog-content>
 
 <mat-dialog-actions>
 
 <button  id="deleteCliente" (click)="deletarCliente()" mat-flat-button color="warn">Excluir Cliente</button>
   <button id="cancel" mat-stroked-button mat-dialog-close>
     <mat-icon>close</mat-icon>
     Cancelar
   </button>
   
 </mat-dialog-actions>
 </div>