.container {
  padding: 20px;
  max-width: 1000px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.filter-container {
  margin-bottom: 20px;
}

.table-container {
  height: 400px;
  overflow: auto;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions p {
  margin: 0;
  font-weight: bold;
  color: #666;
}

button {
  margin-left: 10px;
}

.mat-mdc-form-field {
  font-size: 14px;
}
