<div class="container">
    <h1 class="label">Criar alterar produtos</h1>

    <div>
      <mat-stepper
  class="example-stepper"
  [orientation]="(stepperOrientation | async)!" [linear]="!activePass">
  <mat-step [stepControl]="firstFormGroup" label="Geral">
    <form [formGroup]="firstFormGroup" style="margin-top: 2rem;">
      <mat-form-field appearance="fill">
        <mat-label>Nome de produto:</mat-label>
        <input (keydown)="validarBtn1()" matInput placeholder="Last name, First name" formControlName="nome" required>
         <mat-error *ngIf="firstFormGroup.hasError('nome') && !firstFormGroup.hasError('required')">
            Please enter a valid email address
        </mat-error>
    <mat-error *ngIf="firstFormGroup.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
      </mat-form-field>
    &nbsp;
       <mat-form-field appearance="fill">
        <mat-label>Descrição do produto:</mat-label>
        <input (keydown)="validarBtn1()" matInput placeholder="Last name, First name" formControlName="descricao" required>
      </mat-form-field>
    &nbsp;
       <mat-form-field appearance="fill">
        <mat-label>Marca do produto:</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="marca" >
      </mat-form-field>
        <br>
       <mat-form-field appearance="fill">
        <mat-label>Código de barras:</mat-label>
        <input matInput placeholder="Caso não preencha, o código será gerado." formControlName="codigo_barras" >
      </mat-form-field>
    &nbsp;
      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    &nbsp;
      <mat-slide-toggle formControlName="produtoAtivo" color="primary"
          [checked]="checked"
          [disabled]="disabled">
          Ativar/Desativar produto
      </mat-slide-toggle>
      
      
      <div>
        <button  [disabled]="!btn1valid"  mat-stroked-button color="primary" matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Preço">
    <form [formGroup]="secondFormGroup" >
      
      <mat-form-field appearance="fill">
        <mat-label>Valor de custo do produto:</mat-label>
        <input matInput formControlName="precoCusto" placeholder="Valor que o produto custou"
         mask="separator.2" thousandSeparator="." decimalMarker=",">
                <mat-icon class="custom-icon" matSuffix>payments</mat-icon> 
      </mat-form-field>
    <br>

      <mat-form-field appearance="fill">
        <mat-label>Valor para venda:</mat-label>
        <input (keydown)="validarBtn2()"  matInput formControlName="preco" placeholder="Valor para venda"
         mask="separator.2" thousandSeparator="." decimalMarker=","
               required>
                <mat-icon class="custom-icon" matSuffix>payments</mat-icon> 
      </mat-form-field>

      <div>
        <button mat-stroked-button matStepperPrevious>Voltar</button>
    &nbsp;
        <button [disabled]="!btn2valid" mat-stroked-button color="primary" matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" label="Estoque">
    <form [formGroup]="thirdFormGroup">

        <mat-form-field appearance="fill" style="width: 8rem;">
        <mat-label>Unidade de medida:</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>Und</mat-option>
          <mat-option value="option1">Unidade</mat-option>
          <mat-option value="option2">Kg</mat-option>
          <mat-option value="option3">Componente</mat-option>
          <mat-option value="option3">Peça</mat-option>
        </mat-select>
      </mat-form-field>
  &nbsp;

      <mat-form-field appearance="fill">
        <mat-label>Quantidade para estoque</mat-label>
        <input type="number" matInput formControlName="quantidadeEstoque" placeholder="Quantidade para estoque" >
      </mat-form-field>
      
      <div>
        <button mat-stroked-button matStepperPrevious>Voltar</button>
  &nbsp;
        <button (click)='criarNovoProduto()' mat-stroked-button color="primary" matStepperNext>Concluir</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>


    </div>

</div>
