<div class="containe">
    <div>
        <h3 class="label">Serviço avulso</h3>
    </div>

    <mat-form-field class="example-full-width" appearance="fill" style="margin-right: 8px;">
        <mat-label>Descreva o serviço</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width" *ngIf="isService" appearance="fill">
        <mat-label>Nome serviço</mat-label>
        <input matInput>
      </mat-form-field>

      <div >
        <h3 class="label">Valor do serviço</h3>
    </div>

    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Por serviço</mat-label>
        <input 
        mask="separator.2" thousandSeparator="." decimalMarker=","
        matInput type="text"   placeholder="0,00 R$">
        <mat-icon class="custom-icon" matSuffix>payments</mat-icon>    
    </mat-form-field>

      <mat-form-field class="example-form-field" appearance="fill" style="margin-left: 1rem;">
        <mat-label>Por hora</mat-label>
        <input 
        matInput type="text" mask="separator.2" thousandSeparator="." decimalMarker=","  placeholder="0,00 R$">
        <mat-icon class="custom-icon" matSuffix>payments</mat-icon>     
      </mat-form-field>
    
    <div style="margin-bottom: 2rem;">
        <mat-checkbox class="example-margin" [(ngModel)]="isService">Gravar em serviços ?</mat-checkbox>
        <button (click)="closeDialog()" mat-raised-button style="background-color:#FE3636; color: white;float: right;">Cancelar</button>  
        <button  mat-raised-button style="background-color:#1F66FE; color: white;float: right; margin-right: 4px;">Adicionar serviço</button>
    </div>
    
    <div style="font-size: 12px;width: 100%;">
        <p *ngIf="isService"><b>Caso não escolha um nome para o serviço a descrição sera utilizada como nome.</b></p>
    </div>
    
    
    

    
</div>