.label{
    background-color: #F2F2F2;
    padding: 10px;
    color: #333333;
    text-align: center;
}
.example-form-field {
    width: 150px;
  }

.full-width{
    width: 100%;
}

.custom-icon{
    color:#989898;
}