.os{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bodyos{
  background-color:#F9F9F9;
  width: 80%;
  height: 30rem;
  padding: 2rem;
}

/* input{
  border:none;
  border-radius: 5px;
} */
