.container {
    height: 100%;
}

.sidenav {
    width: 13rem;
    background-color: #1B242D;
    color: #A8B6BF;
}

.sidenav i {
    margin-right: .6rem;
    color: #B9C4C2;
}

.sidenav a {
    color: #B9C4C2;
}

.logoSidenav {
    display: grid;
    background-color:#070a195e;
    height: 50px;
    text-align: center;
    color: white;
}

.logoSidenav h1{
    margin-top: 10px;
    
}


