<mat-drawer-container class="container" autosize>
    
  <mat-drawer #drawer class="sidenav" mode="side">
      
       <div class="logoSidenav">
          <h1>Tecno Desk</h1>
       </div>

      <mat-nav-list class="nav-list">
        
        <a mat-list-item routerLink="/home">
            <i class="material-icons">home</i>Home
        </a>
        
        <a mat-list-item routerLink="/colaborador">
          <i class="material-icons">account_circle</i>Colaborador
        </a>
      
        <a mat-list-item routerLink="/clientes">
          <i class="material-icons">people</i>Clientes
        </a>
    
        <a mat-list-item routerLink="/os">
          <i class="material-icons">assignment</i>Ordem de serviço
        </a>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            {{node.name}}
          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
          </mat-tree-node>
        </mat-tree>
  
        <a mat-list-item (click)="logout()">
          <i class="material-icons">logout</i>Logout
        </a>
    
      </mat-nav-list>
    
    </mat-drawer>

    <div class="sidenav-content">
      <app-header (toggleSidenav)="drawer.toggle()"></app-header>
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>