<mat-drawer-container class="container" autosize>

  <mat-drawer #drawer class="sidenav" mode="side">

    <div class="logoSidenav">
      <h1>Tecno Desk</h1>
    </div>

    <mat-nav-list class="nav-list">

      <a mat-list-item routerLink="/home">
        <i class="material-icons">home</i>Home
      </a>

      <a mat-list-item routerLink="/atendimento">
        <i class="material-icons">support_agent</i>Atendimento
      </a>

      <!-- Menu Cadastros -->
      <div class="os">
        <a mat-list-item (click)="setTreeCadastros()">
          <i class="material-icons">folder</i>Cadastros
          <i *ngIf="!treeCadastros" class="material-icons">arrow_right</i>
          <i *ngIf="treeCadastros" class="material-icons">arrow_drop_down</i>
        </a>
        <ul class="treeOS" *ngIf="treeCadastros">
          <li class="tree">
            <p routerLink="/colaborador" class="linkOs">Colaborador</p><i style="font-size: 18px;margin-left: 3px;"
              class="material-icons">account_circle</i>
          </li>
          <li class="tree">
            <p routerLink="/clientes" class="linkOs">Clientes</p><i style="font-size: 18px;margin-left: 3px;"
              class="material-icons">people</i>
          </li>
          <li class="tree" *ngIf="segmentoEmpresa === 0">
            <p routerLink="produtos" class="linkOs">Produtos</p><i style="font-size: 18px;margin-left: 3px;"
              class="material-icons">inventory_2</i>
          </li>

          <li class="tree" *ngIf="segmentoEmpresa === 1">
            <p routerLink="produtos" class="linkOs">Peças</p><i style="font-size: 18px;margin-left: 3px;"
              class="material-icons">inventory_2</i>
          </li>

          <li class="tree" *ngIf="segmentoEmpresa === 1">
            <p routerLink="produtos" class="linkOs">Veiculos</p><i style="font-size: 18px;margin-left: 3px;"
              class="material-icons">toys</i>
          </li>


          <li class="tree">
            <p routerLink="/itemService" class="linkOs">Serviços</p><i style="font-size: 18px;margin-left: 3px;"
              class="material-icons">design_services</i>
          </li>
        </ul>
      </div>

      <!-- Menu Ordem de Serviço -->
      <div class="os">
        <a mat-list-item (click)="setTreeOs()">
          <i class="material-icons">assignment</i>Ordem de serviço
          <i *ngIf="!treeos" class="material-icons">arrow_right</i>
          <i *ngIf="treeos" class="material-icons">arrow_drop_down</i>
        </a>
        <ul class="treeOS" *ngIf="treeos">
          <li class="tree">
            <p routerLink="os/create" class="linkOs">Abrir nova OS</p><i style="font-size: 18px;margin-left: 3px;"
              class="material-icons">add</i>
          </li>
          <li class="tree">
            <p routerLink="os/list" class="linkOs">Gerenciar OS</p><i style="font-size: 18px;margin-left: 3px;"
              class="material-icons">search</i>
          </li>
          <li class="tree">
            <p routerLink="os-rapida/list" class="linkOs">OS Rápida</p><i style="font-size: 18px;margin-left: 3px;"
              class="material-icons">flash_on</i>
          </li>
          <li class="tree" *ngIf="segmentoEmpresa === 1">
            <p routerLink="os-mecanica/entrada" class="linkOs">OS Mecânica</p><i
              style="font-size: 18px;margin-left: 3px;" class="material-icons">build</i>
          </li>
        </ul>
      </div>

    </mat-nav-list>

    <!-- Footer com logout e suporte -->
    <div class="nav-footer">
      <a mat-list-item (click)="abrirSuporte()" class="footer-item">
        <i class="material-icons">support_agent</i> Suporte
      </a>
      <a mat-list-item (click)="logout()" class="footer-item">
        <i class="material-icons">logout</i> Sair
      </a>
    </div>

  </mat-drawer>

  <div class="sidenav-content">
    <app-header (toggleSidenav)="drawer.toggle()"></app-header>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>