<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Tecno Desk</mat-card-title>
      <mat-card-subtitle>"Transformando Desafios Técnicos em Soluções Simples: Sua Assistência Técnica Sob Controle."</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/15635849_5650727.svg" alt="Menu img">
    <mat-card-content>
      <p>
        "Bem-vindo à nossa plataforma de gerenciamento de assistências técnicas!
         Aqui, você encontrará todas as ferramentas necessárias para administrar sua assistência técnica de forma eficiente e eficaz. 
         Desde o acompanhamento de tickets de suporte até o agendamento de serviços e a gestão de estoque, estamos aqui para simplificar o seu dia a dia e ajudar a oferecer o melhor serviço aos seus clientes. 
         Explore nossos recursos e descubra como podemos ajudar a otimizar o seu negócio. 
         Estamos aqui para apoiá-lo em cada passo do caminho. Bem-vindo ao futuro da gestão de assistências técnicas!"
      </p>
    </mat-card-content>
  </mat-card>