<div class="containerOs mat">
   
    <div class="head" style="margin-bottom: 5px;">
        
        <div class="titPage" style="padding:5px;margin-bottom: 10px;">
            <h1 id="osH1">Ordem de serviço</h1>       
        </div>

    </div>
    
    <mat-divider style="margin-bottom: 5px;"></mat-divider>

    <div class="row1" >
        
        <!-- <div style="margin-right: 20px;">    
            <img src="/assets/logo_assist/logo_exemplo.svg"  
            style="width: 150px; height: 200px; ">
        </div> -->
        
        <div class="cliente" style="padding: 10px;">

            <section class="tituloPage">       
                <h1 class="label">Cliente: </h1>
            </section>
        
            <div id="dataCli">
                
                <mat-form-field class="dataCli" appearance="fill">
                    <mat-label>Documento (CPF ou CNPJ): </mat-label>
                    <input
                    [(ngModel)]="doc"
                    (blur)="buscarClientePorDoc()" 
                    matInput
                    matInput placeholder="Exp: xxx.xxx.xxx-xx" mask="000.000.000.00" [dropSpecialCharacters]="false">
                </mat-form-field>

                <mat-form-field class="dataCli" appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input
                    [(ngModel)]="nomeCliente"
                    readonly                   
                    required 
                    matInput placeholder="Exp: João">
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>

                <mat-form-field class="dataCli" appearance="fill">
                    <mat-label>Contato principal</mat-label>
                    <input
                    [(ngModel)]="cttPrincipalCliente"
                    readonly
                    required
                    matInput placeholder="(xx)xxxxxxxxx" mask="(00) 0 00000000">
                    <mat-icon matSuffix>call</mat-icon>
                  </mat-form-field>
            
            </div>    
            <div>
                <mat-form-field class="dataCli" style="width: 100%;" appearance="fill">
                    <mat-label>Endereço:</mat-label>
                    <textarea
                    [(ngModel)]="enderecoCliente"
                    readonly
                    style="resize: none;height: 10px;overflow-y: hidden;"
                    matInput placeholder=""></textarea>
                    <mat-icon matSuffix>home_work</mat-icon>
                </mat-form-field>    
            </div>    

        </div>
        
        <div [formGroup]="osCreateForm" class="recCli" style="margin-right: 5px;background-color: #F2F2F2;padding: 10px;">
            
            <section class="tituloPage" >
                <h1 class="label">Relato do cliente:</h1>       
            </section>
    
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Descreva o defeito informado pelo cliente:</mat-label>
                        <input
                        formControlName="reclamacaoCliente"                  
                        required
                        matInput placeholder="Exemplo aparelho não liga...">                 
                      </mat-form-field>
                </div>
                
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Resultado do teste inicial:</mat-label>
                        <input
                        formControlName="initTest"                   
                        matInput placeholder="Exemplo aparelho não liga...">                 
                      </mat-form-field>    
                </div>

                <mat-divider></mat-divider>

                <div style="display:flex; width: 250px;background-color: #f2f2f2;margin-top: 10px;">
                    <mat-form-field appearance="fill" style="margin-right: 10px;">
                        <mat-label>Clasificação de atendimento</mat-label>
                        <mat-select formControlName="prioridadeOS">
                                    <mat-option value= 0  >📌Normal</mat-option>
                                    <mat-option value= 1  >🔥 Crítica / Urgente / Emergencial</mat-option>
                                    <mat-option value= 2  >🔄 Garantia</mat-option>
                                    <mat-option value= 2  >⏱️ Prioridade</mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                      <mat-form-field appearance="fill">
                        <mat-label>Atendente</mat-label>
                            <mat-select (selectionChange)="onColaboradorChange($event.value)">
                                <mat-option *ngFor="let colaborador of colaboradores" [value]="colaborador.id">
                                👤 {{ colaborador.nome }}
                                </mat-option>
                            </mat-select>
                      </mat-form-field>
                </div> 
             
        </div>

        

    </div>

    <mat-divider style="margin-bottom: 5px;"></mat-divider>

    <div [formGroup]="osCreateForm" class="row2">
        
        <div class="aparelho" style="margin-right: 5px;background-color: #F2F2F2;padding: 10px;">    
            
            <section class="tituloPage" >
                <h1 class="label" >Aparelho:</h1>       
            </section>    
    
            <div class="" style="display: flex;">        

            <div class="col1" style="margin-right: 4px;">
                <div >
                    <mat-form-field appearance="fill">
                        <mat-label>Aparelhos: </mat-label>
                        <!--SMARTPHONE,TABLET,OUTROS; -->

                            <mat-select formControlName="aparelhos" matNativeControl required>                               
                                <mat-option value= 00 >OUTROS</mat-option>
                                <mat-option value= 01 >TV</mat-option>
                                <mat-option value= 02 >NOTEBOOK</mat-option>
                                <mat-option value= 03 >APARELHO DE SOM</mat-option>
                                <mat-option value= 04 >CELULAR</mat-option>
                                <mat-option value= 06 >IMPRESSORA</mat-option>
                                <mat-option value= 07 >VIDEO GAME</mat-option>
                                <mat-option value= 08 >PC (DESKTOP)</mat-option>
                                <mat-option value= 09 >SMARTPHONE</mat-option>
                                <mat-option value= 10 >TABLET</mat-option>
                                <mat-option ><a type="button">criar novo aparelho</a></mat-option>
                                

                            </mat-select>

                                                    
                        
                    </mat-form-field>
                
                </div>

                <div>
                    <mat-form-field class="example-full-width" style="margin-top: 0px;" appearance="fill">
                    <mat-label>Marca:</mat-label>
                        <input
                        formControlName="marcaAparelho"                        
                        matInput>
                    </mat-form-field>
                </div>
                
                
            </div>

            <div style="margin-right: 10px;">
                <mat-form-field class="example-full-width" style="margin-top: 0px;" appearance="fill">
                <mat-label>Modelo:</mat-label>
                    <input
                    formControlName="descricaoModelo"                        
                    matInput>
                </mat-form-field>

                <mat-form-field class="example-full-width" style="margin-top: 0px;" appearance="fill">
                <mat-label>Número de série:</mat-label>
                    <input
                    formControlName="snAparelho"                        
                    matInput>
                </mat-form-field>

            </div>
            
            <div>
                <mat-form-field class="dataCli" style="width: 600px;" appearance="fill">
                    <mat-label>Estado do aparelho:</mat-label>
                    <textarea formControlName="checkList" style="resize: none;height: 102px;" matInput placeholder=""></textarea>
                    <mat-icon matSuffix>assignment</mat-icon>
                </mat-form-field>    
            </div>

            
            
        </div>    
        
        <div style="text-align: right;">
            <button (click)="createOsEntrada()" mat-flat-button color="primary">Criar ordem de serviço</button>
            <button (click)="openDialogCancelarOs()" style="margin-left: 4px;" mat-raised-button color="warn">Cancelar</button>
        </div>
       
    
    </div>
        
    </div> 
        

</div>


      

    

    

