<div class="container  mat-elevation-z4">
   
    <div class="head" style="margin-bottom: 5px;">
        
        <div class="titPage" style="width: 900rem; padding:5px;">
            <h1 id="osH1">Ordem de serviço</h1>       
        </div>

        <div class="" style="width: 100%;height: 100%;background-color: #F2F2F2;color:#5F5F5F;padding: 5px;margin-left: 5px;">
            <h1><b>OS:</b></h1>
        </div>

    </div>
    
    <mat-divider style="margin-bottom: 5px;"></mat-divider>

    <div class="row1" >
        
        <div style="margin-right: 20px;">    
            <img src="/assets/logo_assist/logo_exemplo.svg"  
            style="width: 150px; height: 200px; ">
        </div>
        
        <div class="cliente">

            <section class="tituloPage">       
                <h1 class="label">Cliente: </h1>
            </section>
        
            <div id="dataCli">
                
                <mat-form-field class="dataCli" appearance="fill">
                    <mat-label>Documento (CPF ou CNPJ): </mat-label>
                    <input 
                    matInput
                    matInput placeholder="Exp: xxx.xxx.xxx-xx" mask="000.000.000.00"
                    >
                </mat-form-field>

                <mat-form-field class="dataCli" appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input
                    readonly                   
                    required 
                    matInput placeholder="Exp: João">
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>

                <mat-form-field class="dataCli" appearance="fill">
                    <mat-label>Contato principal</mat-label>
                    <input
                    readonly
                    required
                    matInput placeholder="(xx)xxxxxxxxx" mask="(00)000000000">
                    <mat-icon matSuffix>call</mat-icon>
                  </mat-form-field>
            
            </div>    
            
            <div>
                <mat-form-field class="dataCli" style="width: 500px;" appearance="fill">
                    <mat-label>Endereço:</mat-label>
                    <textarea readonly style="resize: none;height: 10px;overflow-y: hidden;" matInput placeholder=""></textarea>
                    <mat-icon matSuffix>home_work</mat-icon>
                </mat-form-field>    
            </div>    

        </div>

        <div class="empresa" style="width: 300px;">
            <div style="margin-top: 0px; text-align: center;">     
                <h1 class="label" style="background-color: #E6E6E6;margin-top: 0px;">Empresa: </h1>
            </div>   
        </div>

        

    </div>

    <mat-divider style="margin-bottom: 5px;"></mat-divider>

    <div class="row2" style="width: 100%;display: flex;margin-bottom: 5px;">
        
        <div class="aparelho" style="margin-right: 5px;background-color: #F2F2F2;padding: 10px;">    
            
            <section class="tituloPage" >
                <h1 class="label" >Aparelho:</h1>       
            </section>    
    
            <div class="" style="display: flex;">        

            <div class="col1" style="margin-right: 4px;">
                <div >
                    <mat-form-field appearance="fill">
                        <mat-label>Aparelhos: </mat-label>
                            <select matNativeControl required>
                                <option value="volvo">Celular</option>
                                <option value="saab">Notebook</option>
                                <option value="mercedes">Tv</option>
                                <option value="audi">Videogame </option>
                                <option value="06">Aparelho de som</option>
                            </select>
                    </mat-form-field>
                </div>
                
                <div>
                    <mat-form-field class="example-full-width" style="margin-top: 0px;" appearance="fill">
                    <mat-label>Modelo:</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            
            <div>
                <mat-form-field class="dataCli" style="width: 500px;" appearance="fill">
                    <mat-label>Estado do aparelho:</mat-label>
                    <textarea style="resize: none;height: 85px;" matInput placeholder=""></textarea>
                    <mat-icon matSuffix>assignment</mat-icon>
                </mat-form-field>    
            </div>
        </div>     
    
    </div>
    
    <div class="recCli" style="margin-right: 5px;background-color: #F2F2F2;padding: 10px;">
        <section class="tituloPage" >
            <h1 class="label">Relato do cliente:</h1>       
        </section>

            <div>
                <mat-form-field style="width: 350px;" appearance="fill">
                    <mat-label>Descreva o defeito informado pelo cliente:</mat-label>
                    <input                   
                    required
                    matInput placeholder="Exemplo aparelho não liga...">                 
                  </mat-form-field>
            </div>
            
            <div>
                <mat-form-field style="width: 350px;" appearance="fill">
                    <mat-label>Resultado do teste inicial:</mat-label>
                    <input                   
                    required
                    matInput placeholder="Exemplo aparelho não liga...">                 
                  </mat-form-field>    
            </div>
    </div>

    <div style="margin-right: 5px;background-color: #F2F2F2;padding: 10px;width: 100%;">
        <section class="tituloPage" >
            <h1 class="label">Garantia e observações:</h1>       
        </section>

        <mat-form-field style="width: 100%;" appearance="fill">
            <textarea  readonly style="resize: none;height: 85px;" matInput placeholder=""></textarea>             
          </mat-form-field>
    </div>
        
    </div>

    <mat-divider style="margin-bottom: 5px;"></mat-divider>

    <div class="rowFooter" style="display:flex;width: 100%;align-items: center;">
        
        <div style="width: 80%;">
        <mat-form-field appearance="fill" style="width: 250px;margin-right: 5px;">
            <mat-label>Clasificação de atendimento</mat-label>
            <mat-select>
              <mat-option value="option1">Normal</mat-option>
              <mat-option value="option2">Prioridade</mat-option>
              <mat-option value="option3">Urgência</mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Atendente</mat-label>
            <mat-select>
              <mat-option value="option1">Fulano</mat-option>
              <mat-option value="option2">Sicrano</mat-option>
              <mat-option value="option3">Beltrano</mat-option>
            </mat-select>
          </mat-form-field>
        </div> 

        <div style="text-align: right;">
            <button mat-flat-button color="primary">Criar ordem de serviço</button>
            <button style="margin-left: 4px;" mat-raised-button color="warn">Cancelar</button>
        </div>
    
    </div>
        

</div>

    

    

