<div class="container">
    <form class="form mat-elevation-z4">

        <h1>Tecno Desk</h1>

        <img src="assets/img/login-img.png" alt="HelpDesk Image">

        <mat-form-field class="full-width" appearance ="fill">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="seuemail@email.com">
        </mat-form-field>

        <mat-form-field class="full-width" appearance ="fill">
            <mat-label>senha</mat-label>
            <input type="password" matInput placeholder="Ex. 123" value="Sushi">
          </mat-form-field>
          
          <button class="full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
       
      </form>
</div>