
#content{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    place-items: center;
    background-image: url("/assets/background-login.jpg");
    background-size: cover;
   
}

#container{
    
    background-color: white;
    padding: 10px;
    width: 60rem;
    
}

#side-image{
    background-image: url("/assets/img/4957136.jpg") ;
    background-size: cover;
    width: 30vw;
    height: 40vh;
    background-position: center;
}

#form-login{
    height: 40vh;

}

h1{
    width: 100%;
    margin-bottom: 3rem;
    text-align: center;
}

.full-width{
    width: 100%;
} 


mat-icon{
    opacity: 0.4;
}

.ajudaSuporte{
    color: gray;
    margin-top: 1rem;
    font-size: 12px;
    text-decoration: underline;     
}

button{
    margin-top: 1rem;
}
