.container{
  width: 92%;
  margin:2rem auto;
  
  
}
table {
    width: 100%;
    
  }

.paginator{
  
}

mat-form-field{
  width: 100%;
}

button{
  width: 100%;
}

#edit{
  color:#1F66FE;
}

#delete{
  color: red;
}

.titleEnt{
  background-color:#E6E6E6;
  margin-bottom: 10px;
  height: 50px;
  padding: 8px;
  text-align: center;
  margin-top: 0px;
}

.titleEnt h1{
  color: #5E5E5E;
  margin-top: 8px;
  
}