<div class="container">
        <div style="background-color:#F5F5F5; padding: 8px;margin-bottom: 4px;align-items: center; text-align: center;">
            <p><b>Valor do serviço: </b>{{valorServico}}R$</p>
        </div>
        
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Quantida de horas</mat-label>
            <input matInput type="text" [(ngModel)]="quantidadeHoras" (change)="calcValorPorHora()">
            <button *ngIf="quantidadeHoras" matSuffix mat-icon-button aria-label="Clear"  (click)="quantidadeHoras=''; vTotal=0">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        

        <div>
            <b>Valor total do serviço: </b> {{vTotal}}R$
        </div>
        <button (click)="retornarValorHora()" mat-raised-button style="background-color: #3497D9;color: white;font-size: 12px;width: 100%;">adicionar</button>

    </div>