<div class="container">
        <div>
            <p class="label"><b>Valor do serviço: </b>{{valorServico}}R$</p>
        </div>
        
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Quantida de horas</mat-label>
            <input matInput type="text" [(ngModel)]="quantidadeHoras" (change)="calcValorPorHora()">
            <button *ngIf="quantidadeHoras" matSuffix mat-icon-button aria-label="Clear"  (click)="quantidadeHoras=''; vTotal=0">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        

        <div>
            <b>Valor total do serviço: </b> {{vTotal}}R$
        </div>
        <button (click)="retornarValorHora()" mat-raised-button color="primary">adicionar</button>

    </div>